@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

/*  Header  */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerUpper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  display: flex;
  padding: 20px 100px;
  display: flex;
}

.headerText {
  font-size: 80px;
  font-weight: 1000;
}

.purpleSpan1 {
  color: #8e35dc;
}

.purpleSpan2 {
  color: #aa51a5;
}

.loginBtn {
  font-size: 35px;
  font-weight: 900;
  padding: 8px 20px;
  border: rgb(243, 243, 243) 4px solid;
  border-radius: 15px;
  color: white;
  background: linear-gradient(90deg, rgb(247, 132, 0), orange);
}

.headerLower {
  height: 12px;
  background: linear-gradient(90deg, #8e35dc, orange);
}
/*  Header End */

/* Current page content */
.currentPageContent {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 200vh;
}

/* Current page content End */

/* sidebar */
.sidebar {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 19px;
  width: 270px;
  height: 620px;
  background-color: white;
  margin-top: 120px;
  margin-left: 20px;
  position: sticky;
  top: 100px;
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.368);
}

.sidebarBtnCon {
  display: grid;
  grid-template-columns: 40px 5fr 1fr;
  align-items: center;
  justify-content: flex-start;
  width: 240px;
  height: 50px;
  gap: 15px;
}

.sidebarBtn {
  font-size: 40px;
  font-weight: 400;
  color: #aa51a5;
  background-color: white;
  border: none;
  text-align: start;
}

.sidebarBtn:hover {
  color: #828282;
}

.projectBtnCon {
  display: grid;
  width: 240px;
  align-items: center;
  grid-template-rows: 50px auto;
  row-gap: 0px;
  grid-template-areas:
    ". . ."
    "DropdownBox DropdownBox DropdownBox";
}

.projectDropDownBtn {
  font-size: 40px;
  color: #aa51a5;
}

.sidebarIcon {
  height: 40px;
  width: auto;
}

.projectDropDownCon {
  grid-area: DropdownBox;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0px;
  grid-auto-rows: auto;
  justify-items: flex-start;
}

.projectIcon {
  justify-self: center;
}

.projectDropDownText {
  display: flex;
  height: 40px;
  font-size: 30px;
  font-weight: 700;
  color: #aa51a5;
  background-color: white;
  border: none;
  margin-left: 10px;
}

.projectDropDownText:hover {
  color: #828282;
}

.projectBtnUnderline {
  width: 90%;
  border-radius: 4px;
  height: 4px;
  background-color: #aa51a5;
  margin-bottom: 12px;
  justify-self: flex-start;
}

.sidebarDot {
  font-size: 30px;
  color: #aa51a5;
  text-align: end;
  padding-right: 12px;
}
/* sidebar End */

/* Project page*/

.ProjectContentEl {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  padding-top: 125px;
  gap: 50px;
}

/* Project page End*/

/* specifik project page*/

.specificProjectHeader {
  margin-bottom: 100px;
}

/* specifik project page End */

/* Form */
.blurBg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.198);
  height: 100vh;
  width: 100vw;
  top: 0px;
  display: flex;
  justify-content: center;
}

.formCon {
  position: fixed;
  top: calc(50vh - 350px);
  height: auto;
  padding: 100px 50px;
  width: 500px;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.taskFormCon {
  top: 200px;
}

.nameinput {
  margin-top: 20px;
  height: 80px;
  border-radius: 30px;
  border: solid grey 2px;
  font-size: 50px;
  font-weight: 700;
  color: #aa51a5;
  padding: 0px 25px;
  width: 400px;
}

.descriptionInput {
  height: 150px;
  width: 400px;
  border-radius: 30px;
  padding: 25px;
  border: solid grey 2px;
  font-size: 25px;
  font-weight: 400;
  color: #aa51a5;
  font-family: "Roboto";
}

.notFilled::placeholder {
  color: red;
}

.datePickerCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}

.formLabel {
  font-size: 25px;
  color: grey;
}

.datePicker {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 30px;
  border: solid grey 2px;
  padding: 0px 20px;
  color: #aa51a5;
}

.prioritybtnCon {
  display: flex;
  gap: 12px;
}

.priorityBtn {
  height: 32px;
  padding: 4px 20px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 700;
  border: solid 2px black;
  transition: 0.2s;
}

.highBtn {
  color: rgb(204, 0, 0);
  border: rgb(204, 0, 0) solid 2px;
}

.highBtn:hover {
  color: white;
  background-color: rgb(204, 0, 0);
}

.highBtnSelected {
  color: white;
  background-color: rgb(204, 0, 0);
  border: solid rgb(204, 0, 0) 2px;
}

.mediumBtn {
  color: orange;
  border: orange solid 2px;
}

.mediumBtn:hover {
  color: white;
  background-color: orange;
}

.mediumBtnSelected {
  color: white;
  background-color: orange;
  border: solid orange 2px;
}

.lowBtn {
  color: green;
  border: green solid 2px;
}

.lowBtn:hover {
  color: white;
  background-color: green;
}

.lowBtnSelected {
  color: white;
  background-color: green;
  border: solid green 2px;
}

.createBtn {
  margin-top: 70px;
  background-color: #aa51a5;
  border: none;
  border-radius: 100px;
  color: white;
  height: 80px;
  width: 200px;
  font-size: 40px;
  font-weight: 700;
  transition: 0.2s;
}

.createBtn:active {
  scale: 1.05;
}

.closeBtn {
  position: absolute;
  width: 30px;
  height: auto;
  top: 60px;
  right: 80px;
}
.closeBtn:active {
  scale: 1.1;
}

/* Form End */

/*  Other styling that dosen't fall under that catagori */

/* Project Element */
.specificProjectContentEl {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 50px;
  padding-top: 125px;
}

.projectHeaderCon {
  height: 200px;
  background: linear-gradient(90deg, #aa51a5, orange);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
  border-radius: 15px;
  width: auto;
}
.projectHeader {
  background-color: white;
  height: 140px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  padding-right: 25px;
}

.addProjectBtn {
  background: #efefefff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}

.projectAddBtnIcon {
  background: url(./img/Icons/addBtn.png);
  height: 100px;
  width: 110px;
}

.newProjectElLeft {
  width: max(450px, 50%);
  display: grid;
  grid-template-columns: 12px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header header"
    ". description";
}

.projectHeaderText {
  font-size: 50px;
  font-weight: 700;
  color: #aa51a5;
  grid-area: header;
}

.newProjectElDisciption {
  grid-area: description;
  font-size: 22px;
  color: #aa51a5;
}

.newProjectElRight {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 60px;
}

.projectElRightBtnCon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.deleteProjectBtn {
  background: url(./img/Icons/trashcanIcon.png);
  height: 35px;
  width: 28px;
  margin-left: 5px;
}

.editProjectBtn {
  background: url(./img/Icons/editIcon.png);
  height: 28px;
  width: 30px;
}

.projectTaskIcon {
  background: url(./img/Icons/taskIconOrange.png);
  width: 33px;
  height: 30px;
}

.projectTaskNumText {
  font-size: 30px;
  font-weight: 700;
  color: orange;
  margin-right: 30px;
}

/* Project Element END */

/* Task Element */

.taskCon {
  height: 130px;
  background: linear-gradient(90deg, #aa51a5, orange);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
  border-radius: 15px;
  width: auto;
  transition: 0.7s;
}

.taskEl {
  background-color: white;
  height: 115px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 600px;
  overflow: hidden;
  transition: 0.7s;
}

.taskAddBtn {
  height: 120px;
}

.taskAddBtnIcon {
  height: 80px;
  width: 80px;
}

.taskElSideCon {
  display: grid;
  grid-template-rows: 115px 1fr;
}

.taskHeaderEl {
  font-size: 45px;
  font-weight: 700;
  padding-left: 50px;
  color: #aa51a5;
  display: flex;
  align-items: baseline;
  padding-top: 30px;
  height: 115px;
  gap: 15px;
}

.extendBtn {
  background: url(./img/Icons/extendBtnIcon.png);
  height: 25px;
  width: 25px;
}

.taskDescriptionText {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 50px;
  color: #aa51a5;
}

.rightSideUpper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.priorityBox {
  height: 45px;
}

.daysLeftEl {
  color: black;
  font-weight: 700;
  font-size: 30px;
}

.editAndDeleteBtnCon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 50px;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.rightSideLower {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 200px;
}

/* Task Element End */

.smallProjectElBtn {
  border: none;
  border-radius: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sortBtn {
  position: absolute;
  margin-top: 225px;
  height: 40px;
  background-color: #fff;
  border: solid 3px orange;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.133);
  width: 160px;
  align-self: flex-end;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 40px 40px 40px;
  align-items: center;
  overflow: hidden;
}

.sortByBtn {
  color: orange;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  padding-bottom: 2px;
}

.sortByBtnNoAr {
  text-align: center;
}

.sortByBtnNoAr:hover {
  background-color: rgb(255, 241, 216);
}

.selectedSortByBtn {
  background-color: rgb(255, 241, 216);
}
/*  Other styling that dosen't fall under that catagori END */ ;
